# coding: utf-8

<table>
<tr><td>&nbsp;</td><th align="left"><h2>作成アカウント一覧</h2></th></tr>
<tr><td>&nbsp;</td><td>
<table cellpadding="3" cellspacing="0" border="1">
	<tr bgcolor="#eee">
		<td></td>
		<th align="left">名前</th>
		<th align="left">メールアドレス</th>
		<th align="left">パスワード</th>
		<th align="left">生年月日</th>
		<th align="left">性別</th>
		<th align="left">メディア</th>
		<th align="left">使用</th>
	</tr>
	
	<% @accounts.each do |account| %>
	<tr>
		<td><%= link_to "編集", edit_account_path(account.id) %> : 
		<%= link_to "削除", account_path(account.id), method: :delete, data: { confirm: "削除しますか？" } %></td>
		<td><%= link_to account.name, account_path(account.id) %></td>
		<td><%= account.mailadd %></td>
		<td><%= account.pass %></td>
		<td><%= account.birthday %></td>
		<td><%= account.sex %></td>
		<td><%= account.media %></td>
		<td><%= account.used %></td>
	</tr>
	<% end %>
</table>
</td></tr>
<tr><td>&nbsp;</td><td><p><%= link_to "新規追加", new_account_path %></p></td></tr>
</table>
